body {
    background-image: url('../images/background.jpg');
    padding: 0;
    margin: 0;
}



#cash {
    color: #2AC766;
    text-shadow: 0 0 20px #22A554;
}


.image>div {
    display: flex;
    flex-direction: column;
    border-radius: 90px;
    background-color: #310048;
}

.image>div>div {
    display: block;
    text-align: center;
}


img {
    max-width: 250px;
    text-align: center;
}


.fake-but {
    display: inline-block;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 60px;
    padding-left: 77px;
    padding-right: 77px;
    font-size: 1.3em;
    margin-top: 65px;
    color: #15FC89;
    background-color: #15FC89;
    font-family: "McLaren", sans-serif;
    font-weight: 700;
    font-style: normal;
}


.normal-but {
    position: relative;
    display: inline-block;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 60px;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 1.3em;
    margin-top: 65px;
    color: black;
    bottom: 123px;
    background-color: white;
    font-family: "McLaren", sans-serif;
    font-weight: 700;
    font-style: normal;
}


.image>div>div>h1 {
    color: white;
    font-family: "McLaren", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.image>div>div>p {
    color: white;
    font-family: "McLaren", sans-serif;
    font-weight: 700;
    font-style: normal;
}



