body {
    background-color: #310048;
    margin: 0;
    padding: 0;
}


.image>div {
    display: flex;
    flex-direction: column;
}

.image>div>div {
    display: block;
    text-align: center;
}


img {
    max-width: 250px;
    text-align: center;
}

.image>div>div>div>button {
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 60px;
    padding-left: 55px;
    padding-right: 55px;
    font-size: 1.2em;
    margin-top: 50px;
    color: black;
    background-color: #FFF69D;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.image>div>div>h1 {
    color: #FFF69D;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.image>div>div>p {
    color: #FFF69D;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 70px;
}

.image>div>div>div>button:hover {
    background-color: black;
    color: #FFF69D;
}

